<main class="text-center container-lg" id="landing">
  <div class="row align-items-center">
    <div class="text-lg-start col" id="container-welcome-message">
        <h1 class="welcome-message" id="welcome-message"></h1>
    </div>
    <img
      class="img-fluid col"
      src="/assets/img/landing/banner.svg"
      alt="banner"
      loading="lazy"
      id="banner-img"
    />
  </div>
  <a href="#about">
    <span class="material-icons-outlined" id="arrow-icon">expand_more</span>
  </a>
</main>
