main {
  min-height: 100vh;
  padding-top: 130px;
}

#welcome-message{
    height: 300px;
    margin-bottom: 35px;
}

.welcome-message {
  font-family: "Open Sans Extra Bold";
  font-size: 40px;
  line-height: 60px;
}

@keyframes arrowJump {
  0%, 20%, 50%, 80%, 100% {
    margin-top: 30px;
  }
  40% {
    margin-top: 0px;
  }
  60% {
    margin-top: 15px;
  }
}
#arrow-icon {
  font-size: 40px;
  color: var(--gray);
  margin-top: 25px;
  animation: arrowJump 2.5s infinite;
}

#banner-img {
  width: 600px;
}

#home-text-gradient {
  background: -webkit-linear-gradient(45deg, var(--blue), var(--aqua));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
